* {
    margin: 0;
	padding: 0;
	border: 0;
  }
  
body {
    text-align: center;
    color: white;
}

.contentNav {
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: stretch;
    padding: 10px 0px 10px 0px;
}

main {
    background: #f75b6d; /* Old browsers */
    background: -moz-linear-gradient(left, #f75b6d 0%, #a80077 18%, #ffb53f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #f75b6d 0%,#a80077 18%,#ffb53f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #f75b6d 0%,#a80077 18%,#ffb53f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f75b6d', endColorstr='#ffb53f',GradientType=1 );

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 20% 20%;
}

header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

section {
    padding: 15px 5px 15px 5px;
}
  
.aboutMe {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
}

.subsection {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

footer {
    background-color: black;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 10px 0px 10px 0px;
}

.projects, .contact {
    justify-self: stretch;
}

h1 {
    font-family: 'Alegreya';
    font-size: 80px;
    padding: 10px 0px 10px 0px;
}

h2, h3 {
    font-family: 'Arima Madurai';
}

.hleft {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 20px;
    text-align: left;
}

.hright {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding-right: 20px;
    text-align: right;
}

p, ul {
    font-family: 'Source Sans Pro';
}

a {
    text-decoration: none;
}

a:link, a:visited, a:active {
    color: white;
}

a:hover {
    color: #a80077;
}

ul > li {
    display: inline-block;
}

li {
    list-style-type: none;
    padding: 0px 10px 0px 10px;
}

footer {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 7;
    grid-row-end: 8;
}
