* {
    margin: 0;
	border: 0;
  }
  
body {
    text-align: center;
    color: white;
}

.top {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 3vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4vw;
    background: #f75b6d; /* Old browsers */
    background: -moz-linear-gradient(left, #f75b6d 0%, #a80077 18%, #e7991b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #f75b6d 0%,#a80077 18%,#e7991b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #f75b6d 0%,#a80077 18%,#e7991b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f75b6d', endColorstr='#ffb53f',GradientType=1 );
}

footer {
    background-color: black;
    padding: 10px 0px 10px 0px;
}

h1 {
    font-family: 'Alegreya';
    font-size: 50px;
    padding: 10px 0px 10px 0px;
}

h2, h3 {
    font-family: 'Arima Madurai';
    padding: 10px 0px 10px 0px;
}

p, ul, footer {
    font-family: 'Source Sans Pro';
}

a {
    text-decoration: none;
}

a:link, a:visited, a:active {
    color: white;
}

a:hover, .email {
    color: #c7098e;
}

main a:hover {
    color: #1044b4;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    min-width: 100vw;
}

li {
    list-style-type: none;
    padding: 0px 10px 0px 10px;
}

.imagestyle {
    border: 1px solid;
    max-width: 200px;
}

.center {
    padding-bottom: 6vh;
}

.skills {
    padding-top: 2vh;
}

.me {
    max-width: 200px;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.project-div a {
    padding: 2px 2px 2px 2px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-div {
    flex: 1 1 150px;
    margin: 5px;
}

@media only screen and (min-width: 1024px) {
    main {
      padding-left: 10vw;
      padding-right: 10vw;
    }
  }